@import './../../SCSS/colors.scss';
@import './../../SCSS/extensions.scss';

.ButtonAddCard{
    @extend %buttonLists;
}

.ButtonAddCard:hover{
    cursor: pointer;
    background-color: $solid;
    color: $ligthest;
}